<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mohammad Al falah - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/animate.css">
	
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	
	
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="#home-section" ">Mohammad Al Falah <span>.</span></a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">
					<li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
					<li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
					<li class="nav-item"><a href="#skills-section" class="nav-link"><span>Skills</span></a></li>
					<li class="nav-item"><a href="#services-section" class="nav-link"><span>My Client's</span></a></li>
					<li class="nav-item"><a href="#projects-section" class="nav-link"><span>Projects</span></a></li>
					<li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container-fluid px-md-0">
					<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img" style="background-image:url(images/DSC00824.png);">
							<div class="overlay"></div>
							<div class="overlay-1"></div>
						</div>
						<div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Hello! this is my portfolio</span>
								<h1 class="mb-4 mt-3">Creative <span>Designer</span> Senior video editor &amp; Filmmaking</h1>
								<p><a href="#" class="btn btn-primary">Hire me</a> <a href="#" class="btn btn-primary btn-outline-primary">Download CV</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slider-item">
				<div class="overlay"></div>
				<div class="container-fluid px-md-0">
					<div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
						<div class="one-third order-md-last img" style="background-image:url(images/IMG_7870.PNG);">
							<div class="overlay"></div>
							<div class="overlay-1"></div>
						</div>
						<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<div class="text">
								<span class="subheading">Design &amp; Build Brands</span>
								<h1 class="mb-4 mt-3">Hi, I am <span>Mohammad Alfalah</span> .</h1>
								<p><a href="#" class="btn btn-primary">Hire me</a> <a href="#" class="btn btn-primary btn-outline-primary">Download CV</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
	</section>

	<section class="ftco-counter img bg-light" id="section-counter" style="margin-top: 100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-suitcase"></span>
						</div>
						<div class="text">
							<strong class="number" data-number="750">0</strong>
							<span>Project Complete</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-loyalty"></span>
						</div>
						<div class="text">
							<strong class="number" data-number="568">0</strong>
							<span>Happy Clients</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-coffee"></span>
						</div>
						<div class="text">
							<strong class="number" data-number="478">0</strong>
							<span>Cups of coffee</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 d-flex">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="flaticon-calendar"></span>
						</div>
						<div class="text">
							<strong class="number" data-number="780">0</strong>
							<span>Years experienced</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 col-lg-5 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/DSC00439.png);">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
					<div class="py-md-5">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading">My Intro</span>
								<h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
								<p>I'M a Filmmaker & Animator, specializing in film and advertising. I have a great passion for visual storytelling ,
									and I am constantly working on developing my creative and technical skills in visual media design and production. </p>

								<ul class="about-info mt-4 px-md-0 px-2">
									<li class="d-flex"><span>Name:</span> <span>Mohammad Alfalah</span></li>
									<li class="d-flex"><span>position:</span> <span>Senior video editor &amp; Filmmaking</span></li>
									<li class="d-flex"><span>Email:</span> <span>aboalfalah2233@gmail.com</span></li>
									<li class="d-flex"><span>Phone: </span> <span>+962 7 9148 2034</span></li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="my-interest d-lg-flex w-100">
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-listening"></span>
										</div>
										<div class="text">Music</div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-suitcases"></span>
										</div>
										<div class="text">Travel</div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-video-player"></span>
										</div>
										<div class="text">Movie</div>
									</div>
									<div class="interest-wrap d-flex align-items-center">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="flaticon-football"></span>
										</div>
										<div class="text">Sports</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section bg-light" id="skills-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Skills</span>
					<h2 class="mb-4">My Skills</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row progress-circle mb-5">
				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Adobe Premiere Pro</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='95'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">95<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4"> After Effects</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='98'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">98<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Blender</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='68'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">68<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4"> Illustrator </h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='92'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">92<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Canva</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='83'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">83<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>

				<div class="col-lg-4 mb-4">
					<div class="bg-white rounded-lg shadow p-4">
						<h2 class="h5 font-weight-bold text-center mb-4">Photoshop</h2>

						<!-- Progress bar 1 -->
						<div class="progress mx-auto" data-value='95'>
							<span class="progress-left">
								<span class="progress-bar border-primary"></span>
							</span>
							<span class="progress-right">
								<span class="progress-bar border-primary"></span>
							</span>
							<div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
								<div class="h2 font-weight-bold">95<sup class="small">%</sup></div>
							</div>
						</div>
						<!-- END -->

						<!-- Demo info -->
						<div class="row text-center mt-4">
							<div class="col-6 border-right">
								<div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
							</div>
							<div class="col-6">
								<div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
							</div>
						</div>
						<!-- END -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" id="services-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 heading-section text-center ftco-animate mb-5">
					<span class="subheading">My Clients</span>
					<h2 class="mb-4">I provided my best services to my clients</h2>
					<p>I present to you some of my work in collaboration with</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">The Royal Hashemite Court of Jordan</h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Hover Up <br /> (Drone) </h3>
						</div>
					</div> 
				</div>	
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Firefly  <br /> Restorant </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Qatari   <br /> Embassy </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">OliverY    <br /> Company </h3>
						</div>
					</div> 
				</div>	
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Royal Cosmetics    <br /> Company </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">HONOR<br /> Company </h3>
						</div>
					</div> 
				</div>	
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Uncle Osaka<br /> Company</h3>
						</div>
					</div> 
				</div>	
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">ZACK’S <br /> COFFEE  </h3>
						</div>
					</div> 
				</div>	
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Victoria Compound<br /> Real Estate </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Alalami Study<br /> Abroad </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">RiC MENA<br /> Company </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">TEDx<br /> Company </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Shahwan <br /> Furniture </h3>
						</div>
					</div> 
				</div>
				<div class="col-md-6 col-lg-6">
					<div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
						<div class="media-body">
							<h3 class="heading mb-3">Yellow Door Energy  <br />  Leading Solar Company in Dubai & UAE  </h3>
						</div>
					</div> 
				</div>
 
			</div>
			</div>
		</div>
	</section>

	<section class="ftco-hireme">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-8 col-lg-8 d-flex align-items-center">
					<div class="w-100 py-4">
						<h2>The coming days.</h2>
						<p>
							My vision is to create visual works that combine creativity and precision,
							documenting memories and highlighting the beauty in every detail.
							I believe that every photograph is an opportunity to convey a message and inspire others to see the world from a new perspective.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-project" id="projects-section">
		<div class="container-fluid px-md-4">

			<div class="row justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Accomplishments</span>
					<h2 class="mb-4">My Projects</h2>
					<p>I hope you like it</p>
					<p>You can see more video in youtube</p>
					<p>
						<a href="https://www.youtube.com/channel/UCZc199sHfecodtAb7LHCRxg" class="btn btn-primary me-2" target="_blank">Click here</a>
					</p>

				</div>
			</div>

			<!-- ROW  -->
			<div class="row justify-content-center">

				<!-- Video 1 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/xA0UH_iSSfU"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
					</iframe>
				</div>

				<!-- Video 2 -->

				<div class="col-md-3 col-sm-6 mb-4">
					<div class="text text-center">
						<iframe width="100%"
								height="560"
								src="https://www.youtube.com/embed/OPTViLLl_Q4"
								frameborder="0"
								allowfullscreen>
						</iframe>
					</div>
				</div>
				<!-- Video 3 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/w9Ux8etUuSo"
							frameborder="0" allowfullscreen>
					</iframe>


				</div>

				<!-- Video 4 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/69iVbScbSuo"
							frameborder="0" allowfullscreen>
					</iframe>


				</div>

				<!-- Video 5 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/k_R3lNne2ug"
							frameborder="0" allowfullscreen>
					</iframe>


				</div>

				
				<!-- Video 6 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/eB2oBV_gBzI"
							frameborder="0" allowfullscreen>
					</iframe>
				</div>

				<!-- Video 7 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/uMrhsEEUrz4"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
					</iframe>
				</div>
				<!-- Video 8 -->

				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/Sgd9gc9UhyM"
							frameborder="0" allowfullscreen>
					</iframe>
				</div>

				<!-- Video 9 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/MjnWCdYzlag"
							frameborder="0" allowfullscreen>
					</iframe>
				</div>

				<!-- Video 10 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/gF7cR1QKXBY"
							frameborder="0" allowfullscreen>
					</iframe>

				</div>

				<!-- Video 11 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/QpGtjoXKRYE"
							frameborder="0" allowfullscreen>
					</iframe>

				</div>	
				
				<!-- Video 12 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
							height="560"
							src="https://www.youtube.com/embed/cQds7-4F1q4"
							frameborder="0" allowfullscreen>
					</iframe>

				</div>	
												
			<!-- Video 13 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/JaI4lc5lqaM"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
					</iframe>
				</div>

			
			<!-- Video 14 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
					height="560"
					src="https://www.youtube.com/embed/cy-j2U8cf2E"
							frameborder="0" allowfullscreen>
					</iframe>

				</div>

				<!-- Video 15 -->
				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%"
					height="560"
					src="https://www.youtube.com/embed/A55VDlkXewU"
							frameborder="0" allowfullscreen>
					</iframe>
				</div>
			<!-- Video 16 -->
			<div class="col-md-3 col-sm-6 mb-4">
				<iframe width="100%" height="560"
						src="https://www.youtube.com/embed/SCMy-Zhh-4I"
						frameborder="0" allowfullscreen>
				</iframe>
			</div>
				<!-- Video 17 -->

				<div class="col-md-3 col-sm-6 mb-4">
					<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/ZiOydxDt-pA"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
					</iframe>
				</div>

			<!-- Video 18 -->
			<div class="col-md-3 col-sm-6 mb-4">
				<iframe width="100%" height="560"
						src="https://www.youtube.com/embed/RN2Z2k9i2bs"
						frameborder="0" allowfullscreen>
				</iframe>
			</div>

			<!-- Video 19 -->
			<div class="col-md-3 col-sm-6 mb-4">
				<iframe width="100%" height="560"
						src="https://www.youtube.com/embed/y7Pdve3T1z4"
						frameborder="0" allowfullscreen>
				</iframe>
			</div>

			<!-- Video 20 -->
			<div class="col-md-3 col-sm-6 mb-4">
				<iframe width="100%" height="560"
							src="https://www.youtube.com/embed/QA2Gs4uaTRU"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
				</iframe>
			</div>

			
			</div>

			<div class="row justify-content-center pb-5" id="contact-section">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<p>You can see more video in youtube</p>
					<p>
						<a href="https://www.youtube.com/channel/UCZc199sHfecodtAb7LHCRxg" class="btn btn-primary me-2" target="_blank">Click here</a>
					</p>
					<hr />
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
					<div class="col-md-7 heading-section text-center ftco-animate">
						<span class="subheading">Contact me</span>
						<h2 class="mb-4">Have a Project?</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
					</div>
				</div>

				<div class="row block-9">

					<div class="col-md-4 d-flex">
						<div class="dbox w-100 d-flex">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-map-marker"></span>
							</div>
							<div class="text">
								<p><span>Address:</span> Jordan, Amman</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 d-flex">
						<div class="dbox w-100 d-flex">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-phone"></span>
							</div>
							<div class="text">
								<p><span>Phone:</span> <a href="tel://+962791482034">+962791482034</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 d-flex">
						<div class="dbox w-100 d-flex">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="fa fa-paper-plane"></span>
							</div>
							<div class="text">
								<p><span>Email:</span> <a href="mailto:aboalfalah2233@gmail.com">aboalfalah2233@gmail.com</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>



		</div>
	</section>



	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Links</h2>
						<ul class="list-unstyled">
							<li><a href="#home-section"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
							<li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
							<li><a href="#skills-section"><span class="fa fa-chevron-right mr-2"></span>Skills</a></li>
							<li><a href="services-section"><span class="fa fa-chevron-right mr-2"></span>My Client's</a></li>
							<li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projects</a></li>
							<li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
						</ul>
					</div>
				</div>
							
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map marker"></span><span class="text">Jordan , Amman</span></li>
								<li>
									<a href="https://wa.me/962791482034">
										<span class="icon fa fa-phone"></span><span class="text">+962 7 9148 2034</span>
									</a>
								</li>
								<li>
									<a href="https://aboalfalah2233@gmail.com">
										<span class="icon fa fa-paper-plane pr-4"></span><span class="text">
											aboalfalah2233@gmail.com
										</span>
									</a>
								</li>
							</ul>
						</div>
						<ul class="ftco-footer-social list-unstyled mt-2">
							<li class="ftco-animate"><a href="https://wa.me/962791482034"><span class="fa fa-whatsapp"></span></a></li>
							<li class="ftco-animate"><a href="https://www.facebook.com/share/18DH2QDFpL/?mibextid=wwXIfr"><span class="fa fa-facebook"></span></a></li>
							<li class="ftco-animate"><a href="https://www.instagram.com/mr.alfalah?igsh=aDlqN3d4NndrY3Rh"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		
		</footer>
		
		

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-migrate-3.0.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.animateNumber.min.js"></script>
		<script src="js/scrollax.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="js/google-map.js"></script>
		
		<script src="js/main.js"></script>
		
	</body>
	</html>